
.open-sans-normal 
{font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}

/* Shared Styles */

.text-primary
{color: #FD6E0A;}

.dark-2 
{color: #474747;
font-size: 20px;}

.dark-1
{color: #181818;}

.btn-primary 
{border: none;
    border-radius: 5px;
background: rgb(253, 110, 10);
font-size: 20px;
font-weight: 700;
color: rgb(255, 255, 255);
padding: 18px 35px;
cursor: grab;}

.section-title
{font-weight: 700;
font-size: 35px;
color: rgb(24, 24, 24);}

.section-description
{font-weight: 400;
font-size: 18px;
color: rgb(117, 117, 117);}

.text-center
{text-align: center;}

.secondary-bg
{background-color: #FFF8F3;}


/* header */
.header
{background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;
background-color: #fff8f3;}



/* Nav Styles */
nav 
{display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 200px;}

.nav-title
{font-weight: 800;
font-size: 45px;
color: #181818;}

nav ul {display: flex;
align-items: center;}

nav ul li 
{list-style: none;
margin: 51px;}

nav ul a
{text-decoration: none;
}

/* Banner Styles */
.banner 
{display: flex;
justify-content: space-between;
margin: 0 35px 0 200px;}

.banner-content
{width: 585px;
height: 356px;}

.banner-greeting
{font-size: 45px;
font-weight: 600;}

.banner-title
{font-size: 85px;
font-weight: bold;}

.banner-profile-pic
{width: 580px;}

/* main style */
main {max-width: 1140px;
margin: 0 auto;}

main section 
{margin-top: 130px;
margin-bottom: 130px;}

/* aboutme styles */

.aboutme 
{background-color: #fff8f3;
border-radius: 10px;
text-align: center;
margin-top: ;
padding: 130px 150px;}

.about-items
{display: flex;
justify-content: space-around;}

.about-item
{text-align: center;}

.item-title
{font-weight: 400;
font-size: 20px}

.item-description
{font-weight: 700;
font-size: 20px;}

/* skills-container style */

.skills-container 
{display: flex;
color: rgb(255, 255, 255);
gap: 24px;}

.skill
{border-radius: 5px;
padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);}

.skill-title
{font-weight: 700;
font-size: 20px;
color: rgb(24, 24, 24);}

.skill-description
{font-weight: 400;
font-size: 16px;
color: rgb(117, 117, 117);}

/* resume style */

.resume-container {display: flex;
gap: 24px;}

.experience-title
{font-weight: 700;
font-size: 25px;
color: rgb(71, 71, 71);
margin-bottom: 10px;}

.experience-sub-title
{font-weight: 600;
font-size: 20px;
color: rgb(117, 117, 117);
margin-bottom: 20px;}

.experience-description
{font-weight: 400;
font-size: 16px;
margin-bottom: 29.5px;}

.button-download-cv
{margin-top: 50px;}

/* footer style */

footer
{display: flex;
padding: 130px 230px;
gap: 100px;}

.footer-column
{}

footer input[type="text"]
{height: 64px;
border-radius: 5px;
background-color: rgb(255, 255, 255);
display: block;
width: 100%;
padding: 10px 20px;
margin-top: 28px;
margin-bottom: 24px;
font-size: 16px;
font-weight: 400;}

footer input[type="email"]
{height: 64px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;}

  footer input[type=""]
{height: 64px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;}
  
  footer textarea
  {height: 64px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;}



